<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let evento of eventos" (click)="adicionarPassagem(evento)">
      {{ evento?.nome }} {{ evento?.data | date:'yyyy' }} - {{ evento?.data | date:'EEEE' }}
      <button ion-button clear item-end>ver</button>
    </button>
  </ion-list>
  <div text-center>
    <button ion-button icon-only icon-start round (click)="adicionarEvento()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>
</ion-content>