<ion-content>
    <form [formGroup]="form">
        <ion-list inset>
            <ion-item>
                <ion-label floating>nome</ion-label>
                <ion-input formControlName="nome" type="text" maxlength="50"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>rg</ion-label>
                <ion-input rgMask formControlName="rg" type="text" maxlength="12"></ion-input>
            </ion-item>
        </ion-list>
        <div padding>
            <button ion-button block type="button" (click)="submitForm()">{{template == 'Adicionar'? 'Adicionar' : 'Salvar'}}</button>
        </div>
    </form>
</ion-content>