<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Passageiros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs class="tabs-basic" selectedIndex="0" color="primary">
    <ion-tab tabTitle="Lista" [root]="tabLista"></ion-tab>
    <ion-tab tabTitle="Adicionar" [root]="tabAdicionar"></ion-tab>
  </ion-tabs>
</ion-content>