<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Arranjo de Ônibus</h1>
  <h2>LS Guaianases</h2>
  <ion-img style="width: 100%; height: 85vw;" src="https://i.pinimg.com/originals/5e/86/96/5e8696dfcf265b28d95b382491db6bc2.jpg"></ion-img>
</ion-content>