<!--
  Generated template for the AdicionarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>adicionar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="form">
    <div padding>
      <ion-item no-padding>
        <ion-label floating>nome</ion-label>
        <ion-select formControlName="nome">
          <ion-option>congresso de distrito</ion-option>
          <ion-option>assembleia de circuito - superintendente</ion-option>
          <ion-option>assembleia de circuito - betelita</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-padding>
        <ion-label floating>data</ion-label>
        <ion-datetime formControlName="data" pickerFormat="YYYY-MM-DD" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
      <ion-item no-padding>
        <ion-label floating>quantidade de ônibus</ion-label>
        <ion-input formControlName="qtdOnibus" min="0" type="number"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-label floating>quantidade de poltronas /p ônibus</ion-label>
        <ion-input formControlName="qtdPoltronas" min="0" type="number"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-label floating>local</ion-label>
        <ion-input formControlName="local" type="text" maxlength="50"></ion-input>
      </ion-item>
    </div>

    <div text-center padding>
      <button ion-button round (click)="adicionarEvento()">
        salvar
      </button>
    </div>
  </form>
</ion-content>