<!-- <ion-header>
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listar</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-item *ngFor="let passageiro of passageiros" (click)="viewPassenger(passageiro)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/logo.png">
      </ion-avatar>
      <h2>{{passageiro?.nome}}</h2>
      <p>RG: {{passageiro?.rg.toString() | rgMask }}</p>
    </ion-item>
  </ion-list>
</ion-content>


<!-- 
    Listagem basica
  <ion-list>
    <button ion-item>
      <ion-icon [name]="'bluetooth'" item-start></ion-icon>
      {{passageiro?.nome}}
      <div class="item-note" item-end>
        {{passageiro?.rg}}
      </div>
    </button>
  </ion-list> 
-->