<!--
  Generated template for the PassagensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>passagens</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <h5>passagens do dia: {{ evento?.data | date:'dd/MM/yyyy EEEE' }}</h5>
  </div>
  <ion-content>
    <ion-item-group *ngFor="let item of getListIndex(evento.qtdOnibus); let i = index;">
      <ion-item-divider color="light">Onibus {{(i+1)}} - Faltam {{ evento?.qtdPoltronas - 0 }} passagens.
      </ion-item-divider>
      <ng-container *ngFor="let pass of filtrarListaPorOnibus(passagens, (i+1))">
        <ion-item>{{pass?.poltrona}} - {{ pass?.passageiro?.nome}}</ion-item>
      </ng-container>
    </ion-item-group>

    <div text-center>
      <form [formGroup]="formAdicionarPassageiro">
        <h5>adicionar passageiro</h5>
        <ion-item>
          <ion-label floating>passageiro</ion-label>
          <ion-select formControlName="passageiro">
            <ion-option *ngFor="let passageiro of passageiros" [value]="passageiro">{{ passageiro?.nome }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>onibus</ion-label>
          <ion-select formControlName="onibus">]
            <ion-option *ngFor="let item of retornaListaOnibus(evento.qtdOnibus);" [value]="item">{{ item }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>poltronas</ion-label>
          <ion-select formControlName="poltrona">
            <ion-option *ngFor="let item of getListIndex(evento.qtdPoltronas); let i = index;" [value]="i + 1">{{ i + 1 }}</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button round (click)="adicionarPassageiro()">
          adicionar
        </button>
      </form>
    </div>
  </ion-content>
</ion-content>